body{
	background-color: rosybrown;
}

.doboz{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: mistyrose;
	margin: auto;
	margin-top: 10px;
	border-style: outset;
	border-color: darkslategray;
	border-width: 8px;
	border-radius: 8px;
	position: relative;
  	overflow-wrap: break-word;
  	width: 70vw;
  	align-items: center;
  	
}

img{
	display: inline-block;
	width: 40vw;
}

.felirat1{
	position: absolute;
  	bottom: 8px;
 	left: 16px;
  	font-size: 3vh;
  	color: darkslategrey;
	font-family: garamond ;
	font-weight: bold;
}

h1{
	color: darkslategrey;
	font-family: garamond ;
	text-align: center;
	margin: 70px 0px 30px 0px;
	font-size: 3rem;
}

.felirat{
	position: absolute;
  	bottom: 8px;
 	right: 16px;
  	font-size: 3vh;
  	color: darkslategrey;
	font-family: garamond ;
	font-weight: bold;
}

.doboz:hover{
	border-width: 10px;
	border-color: slategrey;
}

p{
	color: mistyrose;
	font font-family: garamond;
	width: 60%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	border-style: none ridge none ridge;
	border-color: darkslategrey;
	border-width: 8px;
	overflow-wrap: break-word;
	padding: 0px 10px;
}